*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* Header */
img {
  margin: 0px 30px;
}

.Titre {
  margin-left: 30px;
}

.Titre p{
  padding-top: 5px;
}

form {
  margin: 20px 0px 20px 30px;
}

form label {
  background-color: #f2f2f2;
  width: 30px;
  height: auto;

}
form label img {
  width: 30px;
  height: 30px;
}

.inscription {
  text-align: right;
  margin: -30px 50px 20px 0px;
}

.inscri {
  margin: 0px 20px;
} 

.inscription :first-child {
  border-top: 3.5px solid #0065FC;
  padding-top: 40px;
}

nav {
  margin: 20px 30px;
}

.logement {
  margin: 20px 30px;
}




/* Section */ 



h2 {
  clear: both;
}

.art-asi{
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  max-width: 100%;
  justify-content: space-around;
}

.cards1 {
  max-width: 70%;
  max-height: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.cards2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: #f2f2f2;

}

.cards3 {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 10px 10px 0px 10px;
  background-color: white;
  max-height: 280px;
  border-radius: 30px;
  padding: 5px 5px;
}

.cropped {
  width: 300px;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 30px 30px 0px 0px;
}

.stars {
  width: 100px;
  height: auto;
}




/* Footer */

footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;

}

footer div {
  margin: 0px 100px;
}

footer div h3{
  margin: 20px 0px;
}


footer div p{
  margin: 20px 0px;
}
